body, td  
	{
		font-family: Verdana;
		font-size: 12px;
	}
	
a
	{
		padding: 6px 15px 6px 15px;
		text-decoration: none;
		font-family: Verdana;
		font-weight: bold;
		color: #fff;
		border-radius: 5px;
		margin-left: 10px;
		line-height: 15px;
	}
	
a:hover 
	{
		background-color: #ff9933;
	}
	
.judul 
	{
		font-family: 'Arial';
		color: #ff9933;
		font-size: 18px;
	}